
body {
    padding-top: 20px;
    background: #f5f7f8;
}

.grid-1 {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* items */

.grid-1 div {
    color: #1e1f24;
    /*font-size: 20px;*/
    padding: 10px;
    font-family: sans-serif;
}

/* specific item styles */

.item-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background: #051923;
    text-blink: white;
    scroll-behavior: smooth;
    position: sticky;
}
.item-2 {
    background: #e9e9ff;
    grid-column: 1 /4;
    grid-row: 2;
    font-size: 24px;
    text-align: center;

}
.item-3 {
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;


}
.item-4 {
    background: #f5fffa;
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    font-family: sans-serif;


}
.item-5{
    grid-column: 2;
    grid-row: 3;
    font-family: sans-serif;
    text-decoration-color: #e24542;
    position: relative;
}

.item-6
{
    grid-column: 3/4;
    grid-row: 5;
    text-align: left;
    font-family: sans-serif;
    text-decoration-color: #e24542;
}


nav {
    height: 100%;
    background: #051923;
    scroll-behavior: smooth;
    position: sticky;


}

nav ul {
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}



nav a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}

nav a:hover {
    color: #e24542;
}

#grayScale{
    filter: grayscale(100%);
}