/*created some padding so content is more in concentrated in the center of the screen
applied grayscale over entire body to match the sites theme*/
body {
    padding-top: 20px;
    background: #f5f7f8;
    filter: grayscale(75%);
}
/*grid system with 3 columns and 20pixel gap separating the rows.columns*/
.grid-1 {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);

    grid-gap: 20px;
}

/* navbar color font style*/

.grid-1 div {
    color: #1e1f24;
    /*font-size: 20px;*/
    padding: 10px;
    font-family: sans-serif;
}

/* this is where the navbar is placed*/

.item-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background: #051923;
    text-blink: white;
    scroll-behavior: smooth;
    position: sticky;
}
.item-2 {
    background: #e9e9ff;
    grid-column: 1 /4;
    grid-row: 2;
    font-size: 24px;
    text-align: center;

}
.item-3 {
    background: #f5fffa;
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 15px;
    text-decoration-color: #373737;
    text-align: justify;
}
.item-4 {
    background: #f5fffa;
    grid-column: 1/4;
    grid-row: 6;
    text-align: center;

}
.item-5 {
    background: #f5fffa;
    grid-column: 1/4;
    grid-row: 4;


}
.item-6 {
    background: #f5fffa;
    grid-column: 2/4;
    grid-row: 4/5;
}

/*navbar styling */

nav {
    height: 100%;
    background: #e24542;
    scroll-behavior: smooth;
    position: sticky;


}
/*space-around is used here so the first item and last item have the same spac around their grid position.*/
nav ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}



nav a {
    display: block;
    color: #051923;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}
/*turns text in navbar blur when highlighted*/
nav a:hover {
    color: #00dbe2;

}
/*grey scale filter on image*/
#grayScale2{
    filter: grayscale(40%);
}