


body {
    padding-top: 20px;


}
/*grid system with 3 columns and 20pixel gap separating the rows.columns*/
.grid-1 {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 2fr);

    grid-gap: 20px;
}

/* navbar color font style*/

.grid-1 div {
    color: #051923;
    /*font-size: 20px;*/
    padding: 10px;
    font-family: sans-serif;

}

/* this is where the navbar is placed*/

.item-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background: rgba(39, 95, 255, 0.83);
    justify-content: space-around;

}


.item-2 {
    background: rgba(39, 95, 255, 0.83);
    grid-column: 1 /4;
    grid-row: 2;
    font-size: 24px;
    text-align: center;
    text-decoration-color: #051923;
    font-family: 'Carter One', cursive;

}
.item-3 {
    background: #f5fffa;
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 15px;
    text-decoration-color: #373737;
    text-align: justify;
}
.item-4 {
    background: #f5fffa;
    grid-column: 1/4;
    grid-row: 6;
    text-align: center;

}
.item-5 {
    background: #f5fffa;
    grid-column: 1/4;
    grid-row: 4;


}
.item-6 {
    background: rgba(36, 76, 190, 0.55);
    grid-column: 2/4;
    grid-row: 4/4;
    font-family: 'Cinzel', serif;
}



#name h1{
    text-decoration-color: #5bb8b2;
    text-decoration: solid;
    font-family: 'Cinzel', serif;

}
