
body {
    padding-top: 20px;
    background: #f5f7f8;
    width: 100%;
    border-radius: 25px;
    filter: grayscale(75%);
}

.grid-1 {
    display: grid;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* items */

.grid-1 div {
    color: #1e1f24;
    /*font-size: 20px;*/
    padding: 10px;
    font-family: sans-serif;
    width: 100%;
}

/* specific item styles */

.item-1 {
    grid-column: 1 / 4;
    grid-row: 1;
    background: #051923;
    text-blink: white;
    scroll-behavior: smooth;
    position: sticky;
}
.item-2 {
    background: #e9e9ff;
    grid-column: 1 /4;
    grid-row: 2;
    font-size: 24px;
    text-align: center;


}
.item-3 {
    background: #f5fffa;
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 15px;
    text-decoration-color: #373737;
    text-align: center;
}
.item-4 {
    background: #f5fffa;
    grid-column: 1/4;
    grid-row: 4;
    font-size: 15px;
    text-align: center;
    margin-top: 20%;

}
.item-5
{
    grid-column: 1/4;
    grid-row: 6;
    text-align: center;
}




nav {
    height: 100%;;
    background: #051923;
    scroll-behavior: smooth;
    position: sticky;


}

nav ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
}



nav a {
    display: block;
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
}

nav a:hover {
    color: #00dbe2;
}


#journal{
text-align: left;
    grid-column: 1;
}
#journal{
    filter: grayscale(100%);
}

iframe{

}